@use '../variables' as vars;
@use 'reset';

body {
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  font-family: vars.$primary-font;
  font-size: vars.$font-size-base;
  margin: 0;
  padding: 0;
}

.unordered-list {
  list-style-type: disc;
  margin: vars.$margin-md 0;
  padding-left: vars.$padding-md;

  .list-item {
    margin-bottom: vars.$margin-sm;
  }
}

.ordered-list {
  list-style-type: decimal;
  margin: vars.$margin-md 0;
  padding-left: vars.$padding-md;

  .list-item {
    margin-bottom: vars.$margin-sm;
  }
}

.roman-list {
  list-style-type: upper-roman;
  margin: vars.$margin-md 0;
  padding-left: vars.$padding-md;

  .list-item {
    margin-bottom: vars.$margin-sm;
  }
}

.link {
  color: vars.$info-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.form {
  margin: vars.$margin-md 0;

  .form-group {
    margin-bottom: vars.$margin-md;

    .form-label {
      display: block;
      margin-bottom: vars.$margin-sm;
    }

    .form-input,
    .form-textarea,
    .form-select {
      width: 100%;
      padding: vars.$padding-sm;
      border: vars.$base-border-thickness solid vars.$dark-color;
      border-radius: vars.$base-border-radius;
      background-color: vars.$secondary-color; 
      color: vars.$primary-color; 
    }

    .form-select option {
      background-color: vars.$secondary-color; 
      color: vars.$primary-color; 
  }
}
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: vars.$margin-md 0;

  .table-head {
    background-color: vars.$primary-color;
    color: vars.$secondary-color;

    .table-row {
      .table-header {
        padding: vars.$padding-sm;
        text-align: left;
      }
    }
  }

  .table-body {
    .table-row {
      &:nth-child(even) {
        background-color: lighten(vars.$light-color, 40%);
        color: vars.$dark-color;
      }

      .table-cell {
        padding: vars.$padding-sm;
        border: vars.$base-border-thickness solid vars.$dark-color;
      }
    }
  }
}
